<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/explore.css" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/3d4ecc8796.js" crossorigin="anonymous"></script>

     <style>
    .bg-nav {
      background: #ad5389;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #3c1053, #ad5389);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }

    .mt-100 {
      margin-top: 100px;
    }

    .text-light display-4 mt-100 {
      font-weight: 800;
    }

    .nav_logo {
      width: 50px;
      object-fit: contain;
      border-radius: 50%;
      

    }
    a{
      padding: 10px;

    }
  </style>
</head>
<body class="bg-nav">

  <div class="bg-nav text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" >
    <header class="loghead" style="height: 10vh; background: transparent;" >
      <nav>
        <div class="logo">
          <img src="static/img/logo.jpeg" alt="" class="nav_logo" href="/">
        </div>
        <i onclick="openNav()" class="fas fa-bars fa-2x"></i>
      </nav>

      <div id="side-nav">
        <i onclick="closeNav()" class="fas fa-times fa-2x"></i>
        <a href="/">Home</a>
        <a href="/expoler">Explore</a>
        <a href="/feedback">Contact Us</a>
        <a href="javascript:viod(0)">About Us</a>
        <a href="/signup">Sign up</a>
        <a href="/signin">Sign in</a>
      </div>

    </header>

  </div>

<div class="container">
    <div class="gallery">
      <div class="gallery__item gallery__item--hor">
        <img src="{{data.0}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.1}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.2}}" alt="">
      </div>
      <div class="gallery__item gallery__item--vert">
        <img src="{{data.3}}" alt="">
      </div>
      <div class="gallery__item gallery__item--lg">
        <img src="{{data.4}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.5}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.6}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.7}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.8}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.9}}" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="gallery">
      <div class="gallery__item gallery__item--hor">
        <img src="{{data.0}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.1}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.2}}" alt="">
      </div>
      <div class="gallery__item gallery__item--vert">
        <img src="{{data.3}}" alt="">
      </div>
      <div class="gallery__item gallery__item--lg">
        <img src="{{data.4}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.5}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.6}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.7}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.8}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.9}}" alt="">
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
      <script>
        const sideNav = document.getElementById('side-nav');

        function openNav() {
            sideNav.style.width = '250px';
            
        }

        function closeNav() {
            sideNav.style.width = '0';
        }

       



        
    </script>
  


  </body>
</html>