<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/explore.css" type="text/css">
</head>
<body>

<div class="container">
    <div class="gallery">
      <div class="gallery__item gallery__item--hor">
        <img src="{{data.0}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.1}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.2}}" alt="">
      </div>
      <div class="gallery__item gallery__item--vert">
        <img src="{{data.3}}" alt="">
      </div>
      <div class="gallery__item gallery__item--lg">
        <img src="{{data.4}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.5}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.6}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.7}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.8}}" alt="">
      </div>
      <div class="gallery__item">
        <img src="{{data.9}}" alt="">
      </div>
    </div>
  </div>
  
</body>